<template>
  <k-button variant="filled" icon="download" @click="zipContent"
    >Backup</k-button
  >
</template>

<script setup>
async function zipContent() {
  const fileName = getFileName();

  const init = {
    method: "POST",
    body: JSON.stringify({
      fileName,
    }),
  };

  const response = await fetch("/zip-content.json", init);
  const json = await response.json();
  console.log(json);

  if (json.status === "success") {
    console.log("test");
    const aTag = document.createElement("a");
    aTag.href = "/" + fileName;
    const headTag = document.querySelector("head");
    headTag.appendChild(aTag);
    aTag.click();
    headTag.removeChild(aTag);
    setTimeout(() => {
      location.href = location.href;
    }, 500);
  }
}

function getFileName() {
  const now = new Date();
  const date = now.getDate();
  const month = now.getMonth();
  const year = now.getYear();
  const hour = now.getHours();
  const mins = now.getMinutes();
  const secs = now.getSeconds();

  return `decarbone_content_backup-${date}_${month}_${year}__${hour}h${mins}min${secs}.zip`;
}
</script>

<style>
/** Put your CSS here **/
</style>
