/* texts */
@font-face {
  font-family: "iA-Writer-duo-V";
  font-style: normal;
  src: url("/assets/fonts/iAWriterDuoV.woff2");
}
@font-face {
  font-family: "iA-Writer-duo-V";
  font-style: italic;
  src: url("/assets/fonts/iAWriterDuoV-Italic.woff2");
}
@font-face {
  font-family: "iA-Writer-Quattro-V";
  font-style: normal;
  src: url("/assets/fonts/iAWriterQuattroV.woff2");
}
@font-face {
  font-family: "iA-Writer-Quattro-V";
  font-style: italic;
  src: url("/assets/fonts/iAWriterQuattroV-Italic.woff2");
}

.k-writer * {
  font-family: "iA-Writer-Quattro-V", var(--font-sans, sans-serif);
  line-height: 140%;
}
.k-writer p {
  font-size: 1.4375rem;
}

.k-writer h1,
.k-writer h2,
.k-writer h3,
.k-writer h4 {
  color: var(--color-body, #323131);
  font-family: "iA-Writer-duo-V", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.k-writer h1 {
  font-size: 6.1875rem;
}

.k-writer h2 {
  margin-top: 6.47rem;
  font-size: 4.3125rem;
}

.k-writer h3 {
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.k-writer h4 {
  margin-top: 3.09rem;
  margin-bottom: 1.03rem;
  font-size: 2.0625rem;
}

.k-writer p {
  margin-bottom: 1rem;
  margin-right: calc(var(--padding-body) + var(--margin-right-p));
  font-size: 1.4375rem;
  font-weight: 450;
}

/* .k-textarea-input-native {
  padding: var(--input-padding-multiline);
} */
